.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
    margin-left: 10px;
  }
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .card:hover {
    transform: translateY(-5px);
  }